# Logs
logs
*.log
npm-debug.log*

# Private Environment Variables (IMPORTANT)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependency directories
node_modules/
dist/
dist-ssr
*.local

# Editor folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
